<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnsmash.mapper.BadgePossessMapper">

    <select id="getUserBadgeList" resultType="com.cnsmash.pojo.entity.Badge">
        SELECT badge.* FROM badge_possess
        INNER JOIN badge ON badge.id = badge_possess.badge_id
        WHERE badge_possess.player_id = #{userId}
        ORDER BY badge.`order`
    </select>

</mapper>