<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnsmash.mapper.BadgeMapper">

    <select id="gachaBadge" resultType="com.cnsmash.pojo.entity.Badge">
        SELECT * FROM badge
        WHERE `type` = #{badgeType} AND gacha = 1
        ORDER BY RAND()
        LIMIT 1
    </select>

</mapper>