<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnsmash.mapper.BattleMapper">

    <select id="page" resultType="com.cnsmash.pojo.vo.PageBattleVo">
        SELECT DISTINCT b.*
        FROM battle b
            LEFT JOIN game_fighter gf on gf.battle_id = b.id
        <where>
            <if test="ro.userId != null">
                gf.user_id = #{ro.userId}
            </if>
            <if test="ro.quarter != null and ro.quarter != ''">
                b.quarter = #{ro.quarter}
            </if>
            <if test="ro.type != null and ro.type != ''">
                b.type = #{ro.type}
            </if>
            <if test="ro.gameStatus != null and ro.gameStatus != ''">
                bgame_status = #{ro.gameStatus}
            </if>
            <if test="ro.beforeTime != null">
                b.end_time &gt;= #{ro.beforeTime}
            </if>
            <if test="ro.afterTime != null">
                b.end_time &lt; #{ro.afterTime}
            </if>
        </where>
        ORDER BY b.create_time DESC
    </select>

    <select id="getCurrentBattle" resultType="com.cnsmash.pojo.entity.Battle">
        SELECT DISTINCT b.*
        FROM battle b
                 LEFT JOIN game_fighter gf ON gf.battle_id = b.id
        where
            gf.user_id = #{userId}
          AND
            /** 比赛正在进行 */
            b.game_status = 'ing'
          AND
            /** 用户未提交结果 */
            gf.game_fighter_status = 'ing'
    </select>

    <select id="getLastBattle" resultType="com.cnsmash.pojo.entity.Battle">
        SELECT DISTINCT b.*
        FROM battle b
                 LEFT JOIN game_fighter gf ON gf.battle_id = b.id
        WHERE
            gf.user_id = #{userId}
          AND
            /** 比赛已经结束的 */
            (b.game_status = 'end' OR b.game_status = 'stop')
        ORDER BY b.id DESC
        LIMIT 1
    </select>

    <select id="getConflictBattle" resultType="java.lang.Long">
        SELECT a.id1 FROM (
            SELECT * FROM
                (SELECT battle_id id1 FROM game_fighter WHERE user_id = #{userId} AND game_fighter_status = 'submit')a INNER JOIN
                (SELECT battle_id id2 FROM game_fighter WHERE user_id != #{userId} AND game_fighter_status = 'submit')b
                ON a.id1 = b.id2
        )a INNER JOIN (
            SELECT * FROM battle WHERE game_status = 'ing'
        )b ON a.id1 = b.id
    </select>

    <select id="getConflictBattleCount" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT a.id1) FROM (
            SELECT a.id1 FROM (
                SELECT * FROM
                    (SELECT battle_id id1 FROM game_fighter WHERE user_id = #{userId} AND game_fighter_status = 'submit')a INNER JOIN
                    (SELECT battle_id id2 FROM game_fighter WHERE user_id != #{userId} AND game_fighter_status = 'submit')b
                    ON a.id1 = b.id2
            )a INNER JOIN (
                SELECT * FROM battle WHERE game_status = 'ing'
            )b ON a.id1 = b.id
        )a
    </select>

    <select id="getHead2HeadCount" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT a.id1) FROM (
            SELECT a.id1 FROM (
                SELECT * FROM
                    (SELECT battle_id id1 FROM game_fighter WHERE user_id = #{userId1})a INNER JOIN
                    (SELECT battle_id id2 FROM game_fighter WHERE user_id = #{userId2})b
                    ON a.id1 = b.id2
            )a INNER JOIN (
                SELECT * FROM battle WHERE game_status = 'end' AND quarter = #{quarter}
            )b ON a.id1 = b.id
        )a
    </select>

    <select id="getPlayerBattle" resultType="com.cnsmash.pojo.entity.Battle">
        SELECT battle.*
        FROM battle
        INNER JOIN game_fighter ON game_fighter.battle_id = battle.id
        WHERE game_fighter.user_id = #{userId}
        ORDER BY battle.create_time DESC
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>
</mapper>