<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnsmash.mapper.GameFighterMapper">

    <select id="getQuarterUserFighter" resultType="com.cnsmash.pojo.entity.UserFighter">
        SELECT gf.user_id, gf.fighter fighterNo, b.`quarter`, COUNT(*) total
        FROM game_fighter gf
        INNER JOIN battle b ON b.id = gf.battle_id
        WHERE fighter != ''
        GROUP BY user_id, fighter, `quarter`
    </select>

    <select id="getPlayerQuarterFighter" resultType="com.cnsmash.pojo.dto.PlayerQuarterFighterDto">
        SELECT a.user_id, a.fighter, a.`count`, ur.score FROM (
            SELECT gf.user_id, gf.fighter, COUNT(*) `count`
            FROM game_fighter gf
            INNER JOIN battle b ON gf.battle_id = b.id
            WHERE b.`quarter` = #{quarter} and fighter != ''
            GROUP BY gf.user_id, gf.fighter
        )a INNER JOIN user_rank ur
        ON ur.user_id = a.user_id
    </select>

</mapper>