<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnsmash.mapper.UserMapper">

    <select id="listUserDetail" resultType="com.cnsmash.pojo.vo.UserDetail">
        SELECT u.*, uf.id AS head, uf.src AS headSrc, mu.nick_name mainNickName, badge.uri badgeUri, badge.note badgeNote
        FROM user u
            LEFT JOIN upload_file uf ON u.head = uf.id
            LEFT JOIN `user` mu ON mu.id = u.main_id
            LEFT JOIN badge ON badge.id  = u.badge
        <where>
            u.id IN
            <foreach collection="userIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <select id="getNickNameById" resultType="java.lang.String">
        SELECT nick_name FROM user WHERE id = #{id}
    </select>

    <update id="updateBanTime">
        UPDATE `user` SET ban_until = #{banTime} WHERE id = #{id}
    </update>

    <select id="getHeadUrlById" resultType="java.lang.String">
        SELECT upload_file.src
        FROM upload_file
        INNER JOIN `user` ON `user`.head = upload_file.id
        WHERE `user`.id = #{id}
    </select>

    <select id="getMainId" resultType="java.lang.Long">
        SELECT id FROM `user` WHERE main_id = NULL AND account_id = #{id}
    </select>

    <update id="addGachaToken">
        UPDATE `user` SET gacha_token = gacha_token + #{gachaToken} WHERE id = #{playerId}
    </update>
</mapper>