<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnsmash.mapper.UserRankMapper">

    <select id="pageFighter" resultType="com.cnsmash.pojo.vo.UserDetail">
        SELECT u.id, u.*, ur.score, uc.fighters fighters<!--, f.id as head, f.src as headSrc -->
        FROM user_rank ur
        INNER JOIN user u on u.id = ur.user_id
        <!--INNER JOIN upload_file f on u.head = f.id-->
        LEFT JOIN (
            SELECT user_id, GROUP_CONCAT(fighter_no) AS fighters FROM user_fighter
            WHERE quarter = #{ro.quarter} AND total >= 5
            GROUP BY user_id
        )uc ON u.id = uc.user_id
        <where>
            <if test="ro.fighterNo != null and ro.fighterNo != ''">
                fighters like concat('%',#{ro.fighterNo,jdbcType=VARCHAR},'%')
            </if>
            and ur.quarter = #{ro.quarter}
        </where>
        ORDER BY ur.score DESC
    </select>
</mapper>