<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnsmash.mapper.UserRankMapper">

    <select id="pageFighter" resultType="com.cnsmash.pojo.vo.UserDetail">
        SELECT u.id, u.*, ur.score, uc.fighters fighters, f.id as head, f.src as headSrc
        FROM user_rank ur
        INNER JOIN user u ON u.id = ur.user_id
        LEFT JOIN upload_file f on u.head = f.id
        LEFT JOIN (
            SELECT user_id, GROUP_CONCAT(fighter_no) AS fighters FROM user_fighter
            WHERE quarter = #{ro.quarter} AND total >= 5
            GROUP BY user_id
        )uc ON u.id = uc.user_id
        <where>
            ur.quarter = #{ro.quarter} AND ur.status = 0 AND u.status = 0
            <if test="ro.fighterNo != null and ro.fighterNo != ''">
                AND (fighters LIKE concat('%',#{ro.fighterNo,jdbcType=VARCHAR},',%')
                        OR fighters = #{ro.fighterNo})
            </if>
            <if test="ro.text != null and ro.text != ''">
                AND (u.nick_name LIKE concat('%',#{ro.text,jdbcType=VARCHAR},'%'))
            </if>
        </where>
        <choose>
            <when test="ro.text != null and ro.text != ''">
                ORDER BY LENGTH(u.nick_name) ASC, ur.score DESC
            </when>
            <otherwise>
                ORDER BY ur.score DESC
            </otherwise>
        </choose>
    </select>

    <select id="fullRank" resultType="com.cnsmash.pojo.vo.UserDetail">
        SELECT u.id, u.*, ur.score, uc.fighters fighters, f.id as head, f.src as headSrc
        FROM user_rank ur
        INNER JOIN user u ON u.id = ur.user_id
        LEFT JOIN upload_file f on u.head = f.id
        LEFT JOIN (
            SELECT user_id, GROUP_CONCAT(fighter_no) AS fighters FROM user_fighter
            WHERE quarter = #{quarter} AND total >= 5
            GROUP BY user_id
        )uc ON u.id = uc.user_id
        WHERE ur.quarter = #{quarter}
        ORDER BY ur.score DESC
        LIMIT 50
    </select>

    <select id="getHistoryRecord" resultType="com.cnsmash.pojo.vo.HistoryRecordVo">
        SELECT ur.score, ur.rank ranking, `quarter`.name `quarter`
        FROM user_rank as ur
        INNER JOIN `quarter` on `quarter`.code = ur.`quarter`
        WHERE user_id = #{playerId} AND ur.rank &lt;= 50 AND TIMESTAMPDIFF(SECOND, NOW(), `quarter`.end_time) &lt;= 0
        ORDER BY `quarter`.id
    </select>
</mapper>