<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnsmash.mapper.UserMapper">

    <select id="listUserDetail" resultType="com.cnsmash.pojo.vo.UserDetail">
        SELECT u.*, uf.id AS head, uf.src AS headSrc, mu.nick_name mainNickName, badge.uri badgeUri, badge.note badgeNote
        FROM user u
            LEFT JOIN upload_file uf ON u.head = uf.id
            LEFT JOIN `user` mu ON mu.id = u.main_id
            LEFT JOIN badge ON badge.id  = u.badge
        <where>
            u.id IN
            <foreach collection="userIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <select id="getNickNameById" resultType="java.lang.String">
        SELECT nick_name FROM user WHERE id = #{id}
    </select>

    <update id="updateBanTime">
        UPDATE `user` SET ban_until = #{banTime} WHERE id = #{id}
    </update>

    <select id="getHeadUrlById" resultType="java.lang.String">
        SELECT upload_file.src
        FROM upload_file
        INNER JOIN `user` ON `user`.head = upload_file.id
        WHERE `user`.id = #{id}
    </select>

    <select id="getMainId" resultType="java.lang.Long">
        SELECT id FROM `user` WHERE main_id = NULL AND account_id = #{id}
    </select>

    <update id="addGachaToken">
        UPDATE `user` SET gacha_token = gacha_token + #{gachaToken} WHERE id = #{playerId}
    </update>

    <select id="pageFighter" resultType="com.cnsmash.pojo.vo.UserDetail">
        SELECT u.id, u.*, ur.score, uc.fighters fighters, f.id as head, f.src as headSrc, badge.uri badgeUri, badge.note badgeNote
        FROM `user` u
        LEFT JOIN user_rank ur ON u.id = ur.user_id AND ur.quarter = 's1'
        LEFT JOIN upload_file f on u.head = f.id
        LEFT JOIN badge on u.badge = badge.id
        LEFT JOIN (
            SELECT user_id, GROUP_CONCAT(fighter_no) AS fighters FROM user_fighter
            WHERE quarter = #{ro.quarter} AND total >= 5
            GROUP BY user_id
        )uc ON u.id = uc.user_id
        <where>
            <if test="ro.fighterNo != null and ro.fighterNo != ''">
                AND (fighters LIKE concat('%,',#{ro.fighterNo,jdbcType=VARCHAR},',%')
                OR fighters = #{ro.fighterNo}
                OR fighters LIKE concat('%,',#{ro.fighterNo,jdbcType=VARCHAR})
                OR fighters LIKE concat(#{ro.fighterNo,jdbcType=VARCHAR},',%'))
            </if>
            <if test="ro.text != null and ro.text != ''">
                AND (u.nick_name LIKE concat('%',#{ro.text,jdbcType=VARCHAR},'%'))
            </if>
        </where>
        <choose>
            <when test="ro.text != null and ro.text != ''">
                ORDER BY LENGTH(u.nick_name) ASC, ur.score DESC
            </when>
            <otherwise>
                ORDER BY ISNULL(ur.update_time), ur.update_time DESC
            </otherwise>
        </choose>
    </select>
</mapper>